
:root {
  --color-primary: #1E40AF;
  --color-secondary: #60A5FA;
  --color-background: #F3F4F6;
  --color-surface: #ffffff;
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-text: #111827;
  --color-text-rgb: 17, 24, 39;
}

body.light {
  --color-primary: #1E40AF;
  --color-secondary: #60A5FA;
  --color-background: #F3F4F6;
  --color-surface: #ffffff;
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-text: #111827;
  --color-text-rgb: 17, 24, 39;
}

body.dark {
  --color-primary: #3B82F6;
  --color-secondary: #60A5FA;
  --color-background: #1F2937;
  --color-surface: #111827;
  --color-success: #34D399;
  --color-error: #F87171;
  --color-text: #F9FAFB;
  --color-text-rgb: 249, 250, 251;
}
